*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    behavior: smooth;
    height: 100%;
    width: 100%;
}
:root{
    --Primary: #6366F1;
    --Background: #F8FAFC;
    --Card: White;
    --Text: #1E293B;
    --Success: #22C55E;
    --Expense: #EF4444;
}
h1, h2, h3, nav {
    font-family: 'Poppins', sans-serif;
}

body, p, input, button, table {
    font-family: 'Inter', sans-serif;
}